<!DOCTYPE html>
<html style="overflow-x:scroll; white-space:nowrap;">
<head>
    <meta charset="UTF-8">
    <meta name="viewpot"content="width=device-width initial-scale=1.0">
    <title>2DPDB</title>
</head>
<script>
    if ('<%=row%>' == "change")
    {
        alert('로그인 하세요');
        location.href = '/'
    }
</script>
<body style="background-color: rgba(0, 255, 255, 0.125);">
    <div id = "header">
        <ol>
            <br>
            <input type="button" id = "save" value="save" style="width: 130px;height: 42.5px;" onclick="sendBoard()">
            <input type="button" id = "bring" value="bring" style="width: 130px;height: 42.5px;" onclick="GOwn()">
        </ol>
        <ol><h1 style="text-align: center;">2D 픽셀 그림판</h1></ol>
        <ol>
            <br>
            <div style="text-align: center;">
                <input type="button" value="Login" style="width: 130px;height: 42.5px;" onclick="GOLOGIN()" id = "Login">
                <input type="button" value="join" style="width: 130px;height: 42.5px;" onclick="GOJoin()" id = "Join">
            </div>
        </ol>
    </div>
    <hr>
    <div id="main">
        <!-- 팔레트 시작 -->
        <ol>
            <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Colors</h2>
            <input type="button" style="width: 75px;height: 50px;background-color: pink;" class = "palette" onclick="console.log(this.className)">
            <input type="button" style="width: 75px;height: 50px;background-color: red;" class = "palette">
            <br>
            <input type="button" style="width: 75px;height: 50px;background-color: #c60000;" class = "palette">
            <input type="button" style="width: 75px;height: 50px;background-color: orange;" class = "palette">
            <br>
            <input type="button" style="width: 75px;height: 50px;background-color: orangered;" class = "palette">
            <input type="button" style="width: 75px;height: 50px;background-color: rgb(139, 34, 34);" class = "palette">
            <br>
            <input type="button" style="width: 75px;height: 50px;background-color: rgba(255, 255, 0, 0.5);" class = "palette">
            <input type="button" style="width: 75px;height: 50px;background-color: yellow;" class = "palette">
            <br>
            <input type="button" style="width: 75px;height: 50px;background-color: greenyellow;" class = "palette">
            <input type="button" style="width: 75px;height: 50px;background-color: green;" class = "palette">
            <br>
            <input type="button" style="width: 75px;height: 50px;background-color: powderblue;" class = "palette">
            <input type="button" style="width: 75px;height: 50px;background-color: blue;" class = "palette">  
            <br>
            <input type="button" style="width: 75px;height: 50px;background-color: darkblue;" class = "palette">
            <input type="button" style="width: 75px;height: 50px;background-color: purple;" class = "palette">
            <br>
            <input type="button" style="width: 75px;height: 50px;background-color: gray;" class = "palette">
            <input type="button" style="width: 75px;height: 50px;background-color: black;color: white;" class = "palette">
        </ol>
        <!-- 팔레트 끝 -->

        <!-- 캔버스 시작 -->
        <ol>
            <br><br>
            <div style="text-align: center;">
                <h2 style="display:inline;">그림 이름 : </h2>
                <input type="text" name="pictureName" placeholder="40자 이하" id = 'pictureName'>
            </div>
            <br>
            <div id='canvas' style="text-align: center;">
                <% for(r = 0; r < row; ++r) { %>
                    <% for(c = 0; c < col; ++c) { %>
                        <input type="button" style="width: 70px;height: 70px;background-color: 'empty';" class = "canvas" id="<%=r%><%=c%>">
                    <%  } %>
                        <br />
                <% } %>
            </div>
            <input type="hidden" id="rowNum", value="<%= row %>">
            <input type="hidden" id="colNum", value="<%= col %>">
            <br><br>
            <div style="text-align: center;">
                <input type="text" placeholder="가로" id = "col" style="width: 150px;">
                <input type="text" placeholder="세로" id = "row" style="width: 150px;">
                <br>
                <input type="button" value="Board Size Change" style="width: 300px;height: 42.5px;" onclick="BSC()">
            </div>
        </ol>
        <!-- 캔버스 끝 -->

        <ol>
            <div style="text-align: center;">
                <h2>Tools</h2>
                <input type="button" style="width: 150px;height: 65px;font-weight: 900;" class = "tool" id  = "Brush" onclick="console.log(this.class)">
                <br>
                <input type="button"  style="width: 150px;height: 65px;font-weight: 900;" class = "tool" id = "Stamp1">
                <br>
                <input type="button"  style="width: 150px;height: 65px;font-weight: 900;" class = "tool" id = "Stamp2">
                <br>
                <input type="button" style="width: 150px;height: 65px;font-weight: 900;" class = "tool" id = "Paint">
                <br>
                <input type="button"  style="width: 150px;height: 65px;font-weight: 900;" class = "tool" id = "Eraser">
                <br>
                <input type="button" style="width: 150px;height: 65px;font-weight: 900;" id="Clear">
            </div>
        </ol>
    </div>
    <br>
</body>
<script src = "/javascripts/script.js"></script>
<link href="/stylesheets/script.css" rel="stylesheet"/>
<!-- 사랑해요 엄마 -->
</html>
